.App {
  background-color: rgb(255, 255, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#instruction {
  visibility: hidden;
}
#puzzle-container {
  float: left;
  width: 915px;
  height: 800px;
  position: relative;
  background: rgb(223, 223, 223);
  visibility: visible;
}
#puzzle-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: visible;
}
#answer-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  margin: 0px;
  visibility: hidden;
}
#puzzle-clues {
  padding-left: 5px;
  position: absolute;
  font-size: 15px;
  top: 100px;
  display: none;
}

#search-settings {
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
  height: 700px;
}
#cross-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  display: none;
}
#double-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 12;
  display: none;
}
#fallen-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 15;
  display: none;
}
#math-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 17;
  display: none;
}
#letter-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 19;
  display: none;
}
#numberblock-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: none;
}
#hidden-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 22;
  display: none;
}
#crypto-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 23;
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.topArea {
  padding: 24px;
  text-align: center;
}
.container {
  padding-left: 24px;
  padding-top: 50px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-left {
  float: left;
  width: 10%;
  padding-right: 5px;
}
.column-left2 {
  float: left;
  width: 10%;
  padding-right: 5px;
}

.column-middle {
  float: left;
  width: 30%;
  padding: 20px;
  border-style: groove;
  border-width: 2px;
  height: 810px;
  min-height: 100%;
  position: relative;
  overflow: auto;
}
.column-right {
  float: left;
  width: 50%;
  padding: 5px;
  border-width: 1px;
  border-color: rgb(32, 32, 31);
  border-style: groove;
  margin-left: 5px;
  height: 100%;
  position: relative;
  background: white;
  min-height: 100%;
  margin: auto;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px;
}
a {
  color: blue;
  cursor: pointer;
}
h1 {
  margin: 2px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}
h4 {
  margin-bottom: 10px;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin: 5px;
  font-size: large;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.pmedium {
  font-size: x-large;
}
.textinput {
  height: 35px;
  font-size: large;
}
.sameLine {
  display: inline-block;
}
textarea {
  font-size: x-large;
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 32px;
  cursor: pointer;
  background-color: #696969;
}
.buttonSmall {
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #696969;
}
.btn-group button {
  background-color: #a7a7a7; /* Green background */
  border: 1px solid rgb(124, 124, 124); /* Green border */
  color: white; /* White text */
  padding: 20px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  font-size: 20px;
}
.hor-button {
  background-color: #a7a7a7; /* Green background */
  border: 1px solid rgb(124, 124, 124); /* Green border */
  color: white; /* White text */
  padding: 10px 12px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */

  font-size: 20px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
.hor-btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #c2c2c2;
}
.hor-button:hover {
  background-color: #c2c2c2;
}

img {
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1920px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
  #printSection {
    display: none;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  .column-left,
  .column-left2,
  .column-middle,
  .topArea {
    display: none;
  }
  #printSection,
  #printSection * {
    visibility: visible;
  }
  #printSection {
    position: absolute;
    left: 0;
    top: 0;
  }
}
